@(
  user: models.GingrsnapUser,
  recipe: (models.Recipe, models.GingrsnapUser),
  thumbnailUrlOpt: Option[String] = None
)

@import controllers.{GingrsnapUsers, Recipes}

<div class="event-subject-icon">
  @thumbnailUrlOpt.map { thumbnailUrl =>
    <a href="@action(GingrsnapUsers.show(user.slug))">
      <img src="@thumbnailUrl" />
    </a>
  }
</div>
<div class="event-body">
<a href="@action(GingrsnapUsers.show(user.slug))">@user.fullname</a> published recipe <a href="@action(Recipes.show(recipe._2.slug, recipe._1.slug))">@recipe._1.title</a>
