@(
  userId: Long,
  userSlug: String,
  recipeId: Option[Long],
  title: String,
  recipeSlug: String,
  ingredients: java.util.List[String],
  recipeBody: String,
  imageBaseUrlOpt: Option[(String, String)] = None
)

<form class="form-stacked" id="recipe-form" method="POST" enctype="multipart/form-data">
  <input name="authorId" type="hidden" value="@userId" />
  @recipeId.map { rId =>
    <input name="recipeId" type="hidden" value="@rId" />
  }
  <input id="isPublished" name="isPublished" type="hidden" value="false" />

  <div class="row">
    <div class="span8">
      <h1>Create a new recipe</h1>
      <fieldset>
        <label for="title">Title</label>
        <input class="big" id="title" name="title" type="text" value="@title" />

        <label for="slug">URL</label>
        <div class="input-prepend" id="recipe-url">
          <span class="add-on">http://gingrsnap.com/@userSlug/</span>
          <input id="slug" name="slug" type="text" value="@recipeSlug" />
        </div>

        <label for="ingredients">Ingredients</label>
        <ul id="ingredients-inputs">
          @ingredients.map { ingr =>
            <li>
              <div class="input-append">
                <input type="text" value="@ingr" />
                <span class="add-on">
                  <a class="close" href="#">&times;</a>
                </span>
              </div>
            </li>
          }
        </ul>
        <div class="input-append" id="ingredient">
          <input type="text" />
          <span class="add-on">
            <button id="add-ingredient" class="btn btn-success" type="button">
              <i class="icon-plus icon-white"></i>
            </button>
          </span>
        </div>
      </fieldset>

      <textarea class="wysiwyg" id="recipeBody" name="recipeBody" type="text">@recipeBody</textarea>

      <div class="form-actions">
        <button id="publish" class="btn btn-primary" type="submit">Publish</button>
        <button class="btn" type="submit">Save as draft</button>
        <button class="btn cancel">Cancel</button>
      </div>
    </div>

    <div class="span4">
      <div class="well">
        @views.common.html.imageUpload(imageBaseUrlOpt)
      </div>
    </div>
  </div>
</form>
