@(
  recipeId: Long,
  title: String,
  author: models.GingrsnapUser,
  ingredients: Seq[String],
  bodyHtml: String,
  publishedAt: Option[java.sql.Timestamp],
  tips: Option[Seq[(models.Tip, models.GingrsnapUser)]],
  imageBaseUrlOpt: Option[(String, String)],
  totalMakeCount: Long,
  userMakeCountOpt: Option[Long],
  isMakable: Boolean,
  connectedUserOpt: Option[models.GingrsnapUser]
)(
  implicit
  params: play.mvc.Scope.Params,
  flash: play.mvc.Scope.Flash,
  errors: Map[String, play.data.validation.Error],
  renderArgs: play.mvc.Scope.RenderArgs
)

@import controllers._
@import java.text.DateFormat
@import models.{Feature, Make}
@import play.templates.JavaExtensions

@main(title) {
  <div class="row">
    <div class="span8">
      <span id="recipe-id" style="display: none;">@recipeId</span>
      <h1>@title</h1>
      <p class="attribution">Published by <a href="@action(GingrsnapUsers.show(author.slug))">@author.fullname</a>
        @publishedAt.map { publishedAt =>
          on @DateFormat.getDateInstance.format(publishedAt)
        }
      </p>
      <h2>Ingredients</h2>
      <ul id="ingredients">
        @for(ingr <- ingredients) {
          <li>@ingr</li>
        }
      </ul>

      <div id="recipe-body">
        @Html(bodyHtml)
      </div>

      @if(Feature(Constants.RecipeTips)) {
        @tips.map { tipSeq =>
          <ol>
            @tipSeq.map { case (tip, user) =>
              <li>
                <a href="@action(GingrsnapUsers.show(user.slug))">@user.fullname</a>
                <span class="timestamp"></span>
                <p>@tip.body</p>
              </li>
            }
          </ol>
        }
        @connectedUserOpt.map { connectedUser =>
          <form id="tips" method="POST" action="/tips/new">
            <input name="userId" type="hidden" value="@connectedUser.id()" />
            <input name="recipeId" type="hidden" value="@recipeId" />
            <textarea name="tipBody" class="span8"></textarea>
            <button class="btn btn-primary" type="submit">Submit</button>
          </form>
        }
      }
    </div>

    <div class="span4">
      <div class="well">
        @imageBaseUrlOpt.map { case (baseUrl, extension) =>
          <a class="sidebar-image" href="@(baseUrl + "_original." + extension)">
            <img src="@(baseUrl + "_thumbnail." + extension)" />
          </a>
        }
        <p>
          This recipe has been made <span id="total-make-count">@totalMakeCount</span> <span id="total-make-times">time@JavaExtensions.pluralize(totalMakeCount)</span>.
        </p>

        @connectedUserOpt.map { connectedUser =>
          <span id="user-id" style="display: none;">@connectedUser.id()</span>
          <div>
            @userMakeCountOpt.map { userMakeCount =>
              <p>
                You've made this recipe <span id="user-make-count">@userMakeCount</span> <span id="user-make-times">time@JavaExtensions.pluralize(userMakeCount)</span>.
              </p>
            }
            @if(isMakable) {
              <button class="btn make-recipe" data-loading-text="Loading..." data-complete-text="You made this">I made this!</button>
            } else {
              <button class="btn" disabled="true" title="You've made this recipe too recently to make again!">I made this!</button>
            }
          </div>
          @if(connectedUser.id() == author.id()) {
            <a class="btn" href="@action(Recipes.edit(recipeId))">
              <i class="icon-pencil"></i>Edit this recipe
            </a>
            <a class="btn danger" id="delete-recipe">
              <i class="icon-trash"></i>Delete this recipe
            </a>
          } else {
            @if(Feature(Constants.Forking)) {
              <a class="btn" href="@action(Recipes.fork(recipeId))">Fork this recipe</a>
            }
          }
        }
      </div>
    </div>
  </div>
}
