@(
  recipeId: Long,
  title: String,
  authorId: Long,
  ingredients: Seq[String],
  bodyHtml: String,
  imageBaseUrlOpt: Option[String],
  userOpt: Option[models.GingrsnapUser]
)(
  implicit
  params: play.mvc.Scope.Params,
  flash: play.mvc.Scope.Flash,
  errors: Map[String, play.data.validation.Error],
  renderArgs: play.mvc.Scope.RenderArgs
)

@import controllers._

@main(title) {
  <div class="row">
    <div class="span10">
      <span id="recipe-id" style="display: none;">@recipeId</span>
      <h1>@title</h1>
      <h2>Ingredients</h2>
      <ul id="ingredients">
        @for(ingr <- ingredients) {
          <li>@ingr</li>
        }
      </ul>
      @Html(bodyHtml)
    </div>

    <div class="span6">
      <div class="well">
        @imageBaseUrlOpt.map { imageBaseUrl =>
          <a class="recipe-image" href="@(imageBaseUrl + "_original")">
            <img src="@(imageBaseUrl + "_thumbnail")" />
          </a>
        }
        @userOpt.map { connectedGingrsnapUser =>
          @if(connectedGingrsnapUser.id() == authorId) {
            <a class="btn" href="@action(Recipes.edit(recipeId))">Edit this recipe</a>
            <a class="btn danger" id="delete-recipe">Delete this recipe</a>
          } else {
            <a class="btn" href="@action(Recipes.fork(recipeId))">Fork this recipe</a>
          }
        }
      </div>
    </div>
  </div>
}
