@(
  recipeId: Long,
  title: String,
  author: models.GingrsnapUser,
  ingredients: Seq[String],
  bodyHtml: String,
  publishedAt: Option[java.sql.Timestamp],
  tips: Option[Seq[(models.Tip, models.GingrsnapUser, Option[(String, String)])]],
  imageBaseUrlOpt: Option[(String, String)],
  totalMakeCount: Long,
  userMakeCountOpt: Option[Long],
  isMakable: Boolean,
  connectedUserOpt: Option[models.GingrsnapUser]
)(
  implicit
  params: play.mvc.Scope.Params,
  flash: play.mvc.Scope.Flash,
  errors: Map[String, play.data.validation.Error],
  renderArgs: play.mvc.Scope.RenderArgs
)

@import controllers._
@import java.text.DateFormat
@import models.{Feature, Make}
@import play.templates.JavaExtensions

@main(title) {
  <div class="row">
    <div class="span8">
      <span id="recipe-id" style="display: none;">@recipeId</span>
      <h1>@title</h1>
      <p class="attribution">Published by <a href="@action(GingrsnapUsers.show(author.slug))">@author.fullname</a>
        @publishedAt.map { publishedAt =>
          on @DateFormat.getDateInstance.format(publishedAt)
        }
      </p>
      <h2>Ingredients</h2>
      <ul id="ingredients">
        @for(ingr <- ingredients) {
          <li>@ingr</li>
        }
      </ul>

      <div id="recipe-body">
        <h2>Instructions</h2>
        @Html(bodyHtml)
      </div>

      @if(Feature(Constants.RecipeTips)) {
        <div class="recipe-tips">
          @tips.map { tipSeq =>
            @if(tipSeq.nonEmpty) {
              <h2>Tips</h2>
              <ol>
                @tipSeq.map { case (tip, user, imageOpt) =>
                  <li>
                    <div class="tip-header">
                      <div class="tip-author-icon">
                        @imageOpt.map { case (baseUrl, extension) =>
                          <a class="user-thumbnail" href="@action(GingrsnapUsers.show(user.slug))">
                            <img src="@(baseUrl + "_thumbnail." + extension)" />
                          </a>
                        }
                      </div>
                      <div class="tip-meta">
                        <a href="@action(GingrsnapUsers.show(user.slug))">@user.fullname</a>
                        <span class="timeago" title="@tip.createdAt"></span>
                      </div>
                    </div>
                    <div class="tip-body">
                      <p>@tip.body</p>
                    </div>
                  </li>
                }
              </ol>
            }
          }
          @connectedUserOpt.map { connectedUser =>
            <form id="tips" method="POST" action="/tips/new">
              <input name="userId" type="hidden" value="@connectedUser.id()" />
              <input name="recipeId" type="hidden" value="@recipeId" />
              <h3>Leave a tip for this recipe</h3>
              <textarea name="tipBody"></textarea>
              <button class="btn btn-primary" type="submit">Submit</button>
            </form>
          }
        </div>
      }
    </div>

    <div class="span4">
      <div class="well">
        @imageBaseUrlOpt.map { case (baseUrl, extension) =>
          <a class="well-image" href="@(baseUrl + "_original." + extension)">
            <img src="@(baseUrl + "_portrait." + extension)" />
          </a>
        }

        @connectedUserOpt.map { connectedUser =>
          @if(connectedUser.id() == author.id()) {
            <div class="recipe-actions">
              <h2>Actions</h2>
              <a class="btn" href="@action(Recipes.edit(recipeId))">
                <i class="icon-pencil"></i>Edit
              </a>
              <a class="btn btn-danger" id="delete-recipe">
                <i class="icon-trash icon-white"></i>Delete
              </a>
            </div>
          } else {
            @if(Feature(Constants.Forking)) {
              <div class="recipe-actions">
                <h2>Actions</h2>
                <a class="btn" href="@action(Recipes.fork(recipeId))">Fork this recipe</a>
              </div>
            }
          }
        }

        <div class="recipe-stats">
          <h2>Stats</h2>
          <dl>
            <dt>Total makes</dt>
            <dd id="total-make-count">@totalMakeCount</dd>
            @userMakeCountOpt.map { userMakeCount =>
              <dt>Makes by you</dt>
              <dd id="user-make-count">@userMakeCount</dd>
            }
          </dl>
        </div>

        @connectedUserOpt.map { connectedUser =>
          <span id="user-id" style="display: none;">@connectedUser.id()</span>
          <div>
            @if(isMakable) {
              <button class="btn make-recipe" data-loading-text="Loading..." data-complete-text="You made this">I made this!</button>
            } else {
              <button class="btn" disabled="true" title="You've made this recipe too recently to make again!">You made this recipe recently</button>
            }
          </div>
        }

        @if(Feature(Constants.TweetButtons) || Feature(Constants.FbLikeButtons)) {
          <div class="share-buttons">
            <h2>Share this recipe</h2>
            @if(Feature(Constants.TweetButtons)) {
              <a href="https://twitter.com/share" class="twitter-share-button" data-text="@title:" data-via="gingrsnap" data-size="large">Tweet this recipe</a>
              <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
            }

            @if(Feature(Constants.FbLikeButtons)) {
              <div id="fb-root"></div>
              <script>
                (function(d, s, id) {
                  var js, fjs = d.getElementsByTagName(s)[0];
                  if (d.getElementById(id)) return;
                  js = d.createElement(s); js.id = id;
                  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
                  fjs.parentNode.insertBefore(js, fjs);
                }(document, 'script', 'facebook-jssdk'));
              </script>
              <div class="fb-like" data-send="false" data-width="160" data-show-faces="false"></div>
            }
          </div>
        }
      </div>
    </div>
  </div>

}
