<html><body>
<p>Hello ${user.fullname()},</p>

<p>Thanks for registering an account on <a href="@@{application.index}">Gingrsnap</a>! We hope you enjoy using the site.</p>

<p>Take a moment to <a href="@@{Accounts.edit}">fill out your profile</a> and poke around the site. If you're into that kind of thing, follow <a href="https://twitter.com/gingrsnap">@gingrsnap</a> on Twitter.</p>

<p>Feel free to send mail to evan@gingrsnap.com if you have any comments or concerns. We'd love to hear from you.</p>

<p>Sincerely,<br/>
Evan Meagher</p>
</body></html>
