body {
  background: #ad7351 url(/public/images/ad7351-noise.gif) repeat;
}

/**
 * Basic elements.
 */
a {
  color: #ac5d2f;  //#AF541F;
}

a:hover {
  color: #d66929;
  text-decoration: none;
}

h1, h2 {
  text-shadow: 0 2px rgba(212, 212, 212, .5);
  -webkit-font-smoothing: antialiased;
  letter-spacing: -.05em;
}

h2 {
  font-size: 24px;
  line-height: 24px;
  margin-bottom: 12px;
}

.oauth-connection-badge {
  width: 100px;
  padding: 6px 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.twitter-icon {
  padding-left: 24px;
  background: url(/public/images/twitter-icon.png) no-repeat center left;
}

/**
 * Header
 */
header {
  padding: 8px 0 14px 0;
  background: #fff;
  -moz-box-shadow: inset 0 -1px 2px #eaeaea;
  -webkit-box-shadow: inset 0 -1px 2px #eaeaea;
  box-shadow: inset 0 -1px 2px #eaeaea;
  border-top: 1px solid #b8825f;
}

.brand {
  font: 32px 'Lobster Two';
  color: #363636;
  text-shadow: 0 2px 0 rgba(150, 150, 150, .3);
  -webkit-font-smoothing: antialiased;
}

a.brand:hover {
  text-decoration: none;
  color: #444;
}

/**
 * Navigation lists.
 */
ul.nav li {
  margin: 10px 24px 10px 0;
}

.nav a.btn {
  padding: 4px 15px;
}

.nav a {
  padding: 0;
  color: #606060;
}

.nav a:hover {
  color: #363636;
}

ul.secondary-nav li {
  margin: 10px 0 10px 24px;
}

/**
 * Splash stuff.
 */
.hero-unit {
  padding: 32px 0;
  border-radius: 4px;
}

.hero-unit h1 {
  margin-bottom: 12px;
  font-size: 44px;
  font-weight: normal;
}

/**
 * Main body content area.
 */
div#wrapper {
  background-color: #f7f6f5;
  padding: 24px 0 65px 0;
}

ol.recipe-feed {
  list-style-type: none;
  margin: 0;
}

ol.recipe-feed li {
  margin-bottom: 1em;
  padding: 8px 0;
  border-bottom: 1px solid #ddd;
}

.recipe-image {
  display: block;
  margin-bottom: 1em;
}

.well {
  background-color: #f7f5f3;
  padding: 16px;
  position: relative;
}

.well a.new-recipe {
  position: absolute;
  top: 18px;
  right: 16px;
  padding: 4px 10px;
}

.well ul, .well ol {
  list-style-type: none;
  margin: 0;
}

/**
 * Footer
 */
footer {
  padding: 20px 0 12px 0;
  margin: 0;
  border: none;
  -moz-box-shadow: 0 -2px 2px #ccc;
  -webkit-box-shadow: 0 -2px 2px #ccc;
  box-shadow: 0 -2px 2px #ccc;
  color: #e0c5b6;
}

footer .nav .brand {
  font-size: 24px;
  color: #b8825f;
  text-shadow: 0 -2px 0 rgba(160, 113, 82, 1);
}

footer a, footer .nav a {
  color: #f7f6f5;
  font-weight: bold;
}

footer a:hover, footer .nav a:hover {
  color: #e9e6e4;
}

footer p {
  clear: both;
}

/**
 * Forms
 */
input, textarea {
  box-shadow: inset 1px 1px 1px #ccc;
}

input, textarea, .input-prepend .add-on, .input-append .add-on {
  padding: 6px;
}

input.input-file {
  background-color: #F7F5F3;
}

.form-stacked {
  padding-left: 0px;
}

.add-on button.btn {
  padding: 3px 6px;
}

input.medium {
  font-size: 20px;
  height: 20px;
  line-height: 20px;
}

input.big {
  font-size: 24px;
  height: 24px;
  line-height: 24px;
}

form#recipe-form ul#ingredients {
  margin: 0;
  list-style-type: none;
}

form#recipe-form ul#ingredients li {
  margin: 3px 0;
  clear: both;
}

form#recipe-form ul#ingredients label.add-on a {
  height: 100%;
  width: 100%;
}

form#recipe-form textarea {
  height: 200px;
}

div.actions button.cancel {
  float: right;
  color: #A60101;
}

/**
 * Login page.
 */
div.login {
  margin: 22px auto;
  padding: 24px 48px;
  width: 600px;
  text-align: center;
  background-color: #f7f6f5;
  border-radius: 4px;
  box-shadow: 1px 1px 2px #666;
}

div.login a.brand {
  display: block;
  font-size: 48px;
  margin-bottom: 16px;
}

div.login > form, div.login > div#external-auth {
  width: 280px;
  text-align: left;
}

div.login > form {
  float: left;
}

div.login > div#external-auth {
  float: right;
  margin-top: 18px;
}

div.login > div#external-auth > p {
  margin-top: 16px;
  font-size: .9em;
  line-height: 1.6em;
}

div.login > p#notamember {
  clear: both;
  padding-top: 18px;
  font-size: 1.2em;
}
