@(
  user: models.User,
  usersRecipes: Seq[models.Recipe],
  recipeFeed: Seq[models.Recipe]
)(
  implicit
  params: play.mvc.Scope.Params,
  flash: play.mvc.Scope.Flash,
  errors: Map[String, play.data.validation.Error],
  renderArgs: play.mvc.Scope.RenderArgs
)

@import controllers._

@genRecipeList(recipes: Seq[models.Recipe]) = {
  @recipes.map { recipe =>
    <li><a href="@action(controllers.Recipes.show(recipe.authorId, recipe.slug))">@recipe.title</a></li>
  }
}

@main(title = "Your dashboard") {
  <div class="row">
    <div class="span10">
      <h1>Most recent recipes</h1>
      <ol>
        @genRecipeList(recipeFeed)
      </ol>
    </div>
    <div class="span6">
      <a class="btn large primary" href="@action(Recipes.neue())">Create an new recipe</a>
      <h2>Your recipes</h2>
      <ul>
        @genRecipeList(usersRecipes)
      </ul>
    </div>
  </div>
}
