@(
  user: models.User,
  usersRecipes: Seq[models.Recipe],
  recipeFeed: Seq[(models.Recipe, models.User)]
)(
  implicit
  params: play.mvc.Scope.Params,
  flash: play.mvc.Scope.Flash,
  errors: Map[String, play.data.validation.Error],
  renderArgs: play.mvc.Scope.RenderArgs
)

@import controllers._
@import java.text.DateFormat

@main(title = "Your dashboard") {
  <div class="row">
    <div class="span10">
      <h1>Most recent recipes</h1>
      <ol class="recipe-feed">
        @recipeFeed.map { case (recipe, author) =>
          <li>
            <a href="@action(Users.show(author.id()))">@author.fullname</a>
            created
            <a href="@action(Recipes.show(recipe.authorId, recipe.slug))">@recipe.title</a>
            on
            @DateFormat.getDateInstance.format(recipe.createdAt)
          </li>
        }
      </ol>
    </div>
    <div class="span6">
      <div class="well">
        <h2>Your recipes</h2>
        <a class="btn primary new-recipe" href="@action(Recipes.neue())">Create a new recipe</a>
        <ul>
          @usersRecipes.map { recipe =>
            <li><a href="@action(Recipes.show(recipe.authorId, recipe.slug))">@recipe.title</a></li>
          }
        </ul>
      </div>
    </div>
  </div>
}
