@(
  user: models.GingrsnapUser,
  recipes: Seq[models.Recipe],
  eventFeed: Seq[(java.sql.Timestamp, models.EventSubject, Option[String], models.EventType.Value, models.EventObject)]
)(
  implicit
  params: play.mvc.Scope.Params,
  flash: play.mvc.Scope.Flash,
  errors: Map[String, play.data.validation.Error],
  renderArgs: play.mvc.Scope.RenderArgs
)

@import controllers.Constants
@import models.{EventFeedType, Feature}

@main(title = "Home") {
  <div class="row">
    <div class="span8">
      <div class="header-with-subtitle">
        <h1>Activity</h1>
        <span>Recent events from people that you follow</span>
      </div>
      @if(Feature(Constants.UserFollowing)) {
        @views.common.html.eventFeed(EventFeedType.Following.id, eventFeed, Some(user.id()))
      } else {
        @views.common.html.eventFeed(EventFeedType.Global.id, eventFeed, Some(user.id()))
      }
    </div>

    <div class="span4">
      <div class="well">
        @views.common.html.recipeList(Some(user), user, recipes)
      </div>
    </div>
  </div>
}
