@(
  connectedUser: models.GingrsnapUser,
  connectedUserRecipes: Seq[(models.Recipe, Option[(String, String)])],
  recipeFeedType: Int,
  recipeFeed: Seq[(models.Recipe, models.GingrsnapUser, Option[(String, String)])]
)(
  implicit
  params: play.mvc.Scope.Params,
  flash: play.mvc.Scope.Flash,
  errors: Map[String, play.data.validation.Error],
  renderArgs: play.mvc.Scope.RenderArgs
)

@import controllers.Constants
@import models.{RecipeFeedType, Feature}

@main(title = "Home") {
  <div class="row">
    <div class="span8">
      <div class="header-with-subtitle">
        <h1>Recipes</h1>
        <h2>/ <a href="/events/following" title="Latest activity on Gingrsnap">Activity</a></h2>
        <div class="subnav">
	        <ul class="nav nav-pills nav-feed">
          @if(Feature(Constants.UserFollowing)) {
            <li @if(recipeFeedType == RecipeFeedType.GingrsnapFollowing.id) { class="active" }>
              <a data-feed-type="@RecipeFeedType.GingrsnapFollowing.id" href="/">Following on Gingrsnap</a>
            </li>
            @if(connectedUser.twUserId.nonEmpty && Feature(Constants.TwitterRecipeFeeds)) {
              <li @if(recipeFeedType == RecipeFeedType.TwitterFollowing.id) { class="active" }>
                <a data-feed-type="@RecipeFeedType.TwitterFollowing.id" href="/recipes/twitter">Follow on Twitter</a>
              </li>
            }
            <li @if(recipeFeedType == RecipeFeedType.Global.id) { class="active" }>
              <a data-feed-type="@RecipeFeedType.Global.id" href="/recipes/global">Everyone on Gingrsnap</a>
            </li>
          } else {
            @if(connectedUser.twUserId.nonEmpty && Feature(Constants.TwitterRecipeFeeds)) {
              <li @if(recipeFeedType == RecipeFeedType.TwitterFollowing.id) { class="active" }>
                <a data-feed-type="@RecipeFeedType.TwitterFollowing.id" href="/recipes/twitter">Follow on Twitter</a>
              </li>
            }
            <li @if(recipeFeedType == RecipeFeedType.Global.id) { class="active" }><a data-feed-type="@RecipeFeedType.Global.id" href="/recipes/global">Everyone on Gingrsnap</a>
            </li>
          }
	        </ul>
        </div>
      </div>

      @views.common.html.recipeFeed(recipeFeedType, recipeFeed, Some(connectedUser.id()))
    </div>

    <div class="span4">
      <div class="well">
        @views.common.html.wellRecipeList(Some(connectedUser), connectedUser, connectedUserRecipes)
      </div>
    </div>
  </div>
}
