@(
  user: models.GingrsnapUser,
  recipes: Seq[models.Recipe],
  eventFeed: Seq[(java.sql.Timestamp, models.EventSubject, models.EventType.Value, models.EventObject)]
)(
  implicit
  params: play.mvc.Scope.Params,
  flash: play.mvc.Scope.Flash,
  errors: Map[String, play.data.validation.Error],
  renderArgs: play.mvc.Scope.RenderArgs
)

@import com.ocpsoft.pretty.time.PrettyTime

@main(title = "Your dashboard") {
  <div class="row">
    <div class="span10">
      <h1>Most recent recipes</h1>
      @views.common.html.eventFeed(new PrettyTime(), eventFeed)
    </div>

    <div class="span6">
      <div class="well">
        @views.common.html.recipeList(Some(user), user, recipes)
      </div>
    </div>
  </div>
}
