@(
  connectedUser: models.GingrsnapUser,
  recipes: Seq[models.Recipe],
  eventFeedType: Int,
  eventFeed: Seq[(java.sql.Timestamp, models.EventSubject, Option[String], models.EventType.Value, models.EventObject)]
)(
  implicit
  params: play.mvc.Scope.Params,
  flash: play.mvc.Scope.Flash,
  errors: Map[String, play.data.validation.Error],
  renderArgs: play.mvc.Scope.RenderArgs
)

@import controllers.Constants
@import models.{EventFeedType, Feature}

@main(title = "Home") {
  <div class="row">
    <div class="span8">
      <div class="header-with-subtitle">
        <h1>Activity</h1>
<!--        <span>
          @eventFeedType match {
            case 0 => { Recent events from people using Gingrsnap }
            case 1 => { Recent events from people that you follow on Gingrsnap }
            case 3 => { Recent events from people that you follow on Twitter }
            case _ => {}
          }
        </span>-->
        <div class="subnav">
	        <ul class="nav nav-pills nav-event-feed">
          @if(Feature(Constants.UserFollowing)) {
            <li @if(eventFeedType == EventFeedType.GingrsnapFollowing.id) { class="active" }>
              <a data-event-feed-type="@EventFeedType.GingrsnapFollowing.id" href="/">Following on Gingrsnap</a>
            </li>
            @if(connectedUser.twUserId.nonEmpty && Feature(Constants.TwitterEventFeeds)) {
              <li @if(eventFeedType == EventFeedType.TwitterFollowing.id) { class="active" }>
                <a data-event-feed-type="@EventFeedType.TwitterFollowing.id" href="/home/twitter">Follow on Twitter</a>
              </li>
            }
            <li @if(eventFeedType == EventFeedType.Global.id) { class="active" }>
              <a data-event-feed-type="@EventFeedType.Global.id" href="/home/global">Everyone on Gingrsnap</a>
            </li>
          } else {
            @if(connectedUser.twUserId.nonEmpty && Feature(Constants.TwitterEventFeeds)) {
              <li @if(eventFeedType == EventFeedType.TwitterFollowing.id) { class="active" }>
                <a data-event-feed-type="@EventFeedType.TwitterFollowing.id" href="/home/twitter">Follow on Twitter</a>
              </li>
            }
            <li @if(eventFeedType == EventFeedType.Global.id) { class="active" }><a data-event-feed-type="@EventFeedType.Global.id" href="/home/global">Everyone on Gingrsnap</a>
            </li>
          }
	        </ul>
        </div>
      </div>

      @views.common.html.eventFeed(eventFeedType, eventFeed, Some(connectedUser.id()))
    </div>

    <div class="span4">
      <div class="well">
        @views.common.html.recipeList(Some(connectedUser), connectedUser, recipes)
      </div>
    </div>
  </div>
}
