@(
  fullnameOpt: Option[String] = None,
  emailAddrOpt: Option[String] = None
)(
  implicit
  params: play.mvc.Scope.Params,
  flash: play.mvc.Scope.Flash,
  errors: Map[String, play.data.validation.Error]
)

@import controllers._

@main("Create an account") {
  <div class="well">
    <h1>Get started with Gingrsnap</h1>
    <div class="row">
      <div class="span6">
        <h2>Sign up with an email address and a password</h2>
        <form id="signup-form" class="form-stacked" method="POST">
          <label for="fullname">Name</label>
          <input class="medium span5" id="fullname" name="fullname" type="text" value="@fullnameOpt.getOrElse("")" />

          <label for="emailAddr">Email Address</label>
          <input class="medium span5" id="emailAddr" name="emailAddr" type="text" value="@emailAddrOpt.getOrElse("")" />

          <label for="password">Password</label>
          <input class="medium span5" id="password" name="password" type="password" />

          <label for="confirmpassword">Confirm Password</label>
          <input class="medium span5" id="confirmpassword" name="confirmpassword" type="password" />

          <input class="btn btn-primary" type="submit" value="Create account"/>
        </form>
      </div>

      <div class="span1">
        <h1>OR</h1>
      </div>

      <div class="span4 pull-right">
        <a class="btn btn-large btn-twitter" href="@action(OAuth.connect("twitter"))">
          <i class="icon-twitter-large"></i>Connect with Twitter
        </a>
        <p><strong>Sign up with your Twitter account so you don't have to remember another email+password combination.</strong></p>
        <p>Connecting will let you sign into Gingrsnap with a single click when you're already logged into Twitter.</p>
      </div>
    </div>
  </div>
}
