@(
  fullname: String = "",
  location: String = "",
  imgUrl: String = "",
  twAccessToken: String = "",
  twAccessTokenSecret: String = ""
)(
  implicit
  params: play.mvc.Scope.Params,
  flash: play.mvc.Scope.Flash,
  errors: Map[String, play.data.validation.Error]
)

@import controllers._

@main("Create an account") {
  <div class="row">
    <div class="span8">
      <h1>Create an identity on Gingrsnap</h1>
      <form id="signup-form" class="form-stacked" method="POST">
        <input name="twAccessToken" type="hidden" value="@twAccessToken" />
        <input name="twAccessTokenSecret" type="hidden" value="@twAccessTokenSecret" />

        @if(!imgUrl.isEmpty) {
          <img src="@imgUrl" />
        }
        <label for="fullname">Name</label>
        <input class="medium span4" id="fullname" name="fullname" type="text" value="@fullname" />

        <label for="emailAddr">Email Address</label>
        <input class="medium span4" id="emailAddr" name="emailAddr" type="text" />

        <label for="password">Password</label>
        <input class="medium span4" id="password" name="password" type="password" />

        <label for="confirmpassword">Confirm Password</label>
        <input class="medium span4" id="confirmpassword" name="confirmpassword" type="password" />

        <div class="form-actions">
          <input class="btn btn-primary" type="submit" value="Submit"/>
        </div>
      </form>
    </div>

    <div class="span4">
      <div class="well">
        @if(twAccessToken.isEmpty && twAccessTokenSecret.isEmpty) {
          <p><a class="btn btn-primary" href="@action(OAuth.connect("twitter"))">Sign up with Twitter&raquo;</a></p>
        } else {
          <p><a class="btn" href="@action(GingrsnapUsers.neue())">Don't connect with Twitter</a></p>
        }
      </div>
    </div>
  </div>
}
