@(
  user: models.GingrsnapUser,
  connectedUserOpt: Option[models.GingrsnapUser],
  isFollowedByConnectedUser: Boolean,
  account: models.Account,
  profileImageUrlOpt: Option[(String, String)],
  recipes: Seq[models.Recipe],
  totalMakeCount: Long,
  eventFeed: Seq[(java.sql.Timestamp, models.EventSubject, Option[String], models.EventType.Value, models.EventObject)]
)(
  implicit
  params: play.mvc.Scope.Params,
  flash: play.mvc.Scope.Flash,
  errors: Map[String, play.data.validation.Error],
  renderArgs: play.mvc.Scope.RenderArgs
)

@import java.text.DateFormat
@import models.EventFeedType

@main(title = user.fullname) {
  <div class="row">
    <div class="span8">
      <div class="user-info">
        <div class="user-header">
          <h1>@user.fullname</h1>
          @connectedUserOpt.map { connectedUser =>
            @if(connectedUser.id() != user.id()) {
              <span id="user-id" style="display: none;">@user.id()</span>
              @if(isFollowedByConnectedUser) {
                <button class="btn unfollow-user btn-danger" href="#">Unfollow</button>
              } else {
                <button class="btn follow-user" href="#">Follow</button>
              }
            }
          }
        </div>


        @profileImageUrlOpt.map { case (baseUrl, extension) =>
          <a href="@(baseUrl + "_original." + extension)">
            <img src="@(baseUrl + "_portrait." + extension)" />
          </a>
        }
        <dl>
          @account.location.map { location =>
            <dt>Location</dt>
            <dd>@location</dd>
          }
          @account.url.map { url =>
            <dt>Website</dt>
            <dd><a href="@url">@url</a></dd>
          }
          <dt>Member since</dt>
          <dd>@DateFormat.getDateInstance.format(user.createdAt)</dd>
          <dt>Total recipes made</dt>
          <dd>@totalMakeCount</dd>
        </dl>
      </div>

      <h2>Activity</h2>
      @views.common.html.eventFeed(EventFeedType.SingleUser.id, eventFeed, Some(user.id()))
    </div>

    <div class="span4">
      <div class="well">
        @views.common.html.recipeList(connectedUserOpt, user, recipes)
      </div>
    </div>
  </div>
}
