@(
  user: models.GingrsnapUser,
  connectedUserOpt: Option[models.GingrsnapUser],
  account: models.Account,
  profileImageUrlOpt: Option[(String, String)],
  recipes: Seq[models.Recipe],
  totalMakeCount: Long,
  eventFeed: Seq[(java.sql.Timestamp, models.EventSubject, models.EventType.Value, models.EventObject)]
)(
  implicit
  params: play.mvc.Scope.Params,
  flash: play.mvc.Scope.Flash,
  errors: Map[String, play.data.validation.Error],
  renderArgs: play.mvc.Scope.RenderArgs
)

@import com.ocpsoft.pretty.time.PrettyTime
@import java.text.DateFormat

@main(title = user.fullname) {
  <div class="row">
    <div class="span8">
      <div id="userinfo">
        <h1>@user.fullname</h1>
        @profileImageUrlOpt.map { case (baseUrl, extension) =>
          <a href="@(baseUrl + "_original." + extension)">
            <img src="@(baseUrl + "_thumbnail." + extension)" />
          </a>
        }
        <dl>
        @account.location.map { location =>
          <dt>Location</dt>
          <dd>@location</dd>
        }
        @account.url.map { url =>
          <dt>Website</dt>
          <dd>@url</dd>
        }
        <dt>Member since</dt>
        <dd>@DateFormat.getDateInstance.format(user.createdAt)</dd>
        <dt>Total recipes made</dt>
        <dd>@totalMakeCount</dd>
      </div>

      @views.common.html.eventFeed(new PrettyTime(), eventFeed)
    </div>

    <div class="span4">
      <div class="well">
        @views.common.html.recipeList(connectedUserOpt, user, recipes)
      </div>
    </div>
  </div>
}
