@(
  user: models.GingrsnapUser,
  account: models.Account,
  publishedRecipes: Seq[models.Recipe],
  drafts: Seq[models.Recipe]
)(
  implicit
  params: play.mvc.Scope.Params,
  flash: play.mvc.Scope.Flash,
  errors: Map[String, play.data.validation.Error],
  renderArgs: play.mvc.Scope.RenderArgs
)

@import controllers._
@import java.text.DateFormat

@main(title = user.fullname) {
  <div class="row">
    <div class="span10">
      <div id="userinfo">
        <h1>@user.fullname</h1>
        <dl>
        @account.location.map { location =>
          <dt>Location</dt>
          <dd>@location</dd>
        }
        @account.url.map { url =>
          <dt>Website</dt>
          <dd>@url</dd>
        }
        <dt>Member since</dt>
        <dd>@DateFormat.getDateInstance.format(user.createdAt)</dd>
      </div>

      <h2>Recipes</h2>
      @if(publishedRecipes.isEmpty) {
        <p>
          You haven't written any recipes yet. <a href="@action(Recipes.neue())" title="Create a new recipe">Go start one now!</a>
        </p>
      } else {
        <ul>
          @for(recipe <- publishedRecipes) {
            <li><a href="@action(Recipes.show(user.id(), recipe.slug))">@recipe.title</a></li>
          }
        </ul>
      }
    </div>

    <div class="span6">
      <div class="well">
        <a class="btn primary" href="@action(Recipes.neue())">Create a new recipe</a>
        @if(drafts.nonEmpty) {
          <h2>Drafts</h2>
          <ul class="draft-list">
            @for(draft <- drafts) {
              <li>
                <a href="@action(Recipes.edit(draft.id()))">@draft.title</a>
                <span id="recipe-id" style="display: none;">@draft.id()</span>
                <a class="close" href="#">x</a>
              </li>
            }
          </ul>
        }
      </div>
    </div>
  </div>
}
