@(
  twUsername: String,
  twUserId: Long,
  twAccessToken: String,
  twAccessTokenSecret: String,
  imgUrl: String
)(
  implicit
  flash: play.mvc.Scope.Flash
)

@import controllers.{Accounts, GingrsnapUsers}

@overlay(
  title = "Connect with Twitter",
  h1Text = Some("Connect with Twitter"),
  focusElement = Some("input#emailAddr")
) {
  <div class="row">
    <form id="connect-twitter-form" class="form-stacked action left" method="POST">
      <input name="twUsername" type="hidden" value="@twUsername" />
      <input name="twUserId" type="hidden" value="@twUserId" />
      <input name="imgUrl" type="hidden" value="@imgUrl" />
      <input name="twAccessToken" type="hidden" value="@twAccessToken" />
      <input name="twAccessTokenSecret" type="hidden" value="@twAccessTokenSecret" />

		  <label for="username">Email address</label>
		  <input type="text" name="emailAddr" id="emailAddr" tabindex="1" />

		  <label for="password">Password</label>
		  <input type="password" name="password" id="password" tabindex="2" />

		  <input type="hidden" name="remember" value="true" />
		  <button type="submit" class="btn btn-primary" tabindex="3">Connect</button>
	  </form>

    <div class="copy right">
      @if(!imgUrl.isEmpty) {
      <img src="@imgUrl" />
      }
      <p>The Twitter account <a href="https://twitter.com/@twUsername">@@@twUsername</a> isn't connected to Gingrsnap. Enter your Gingrsnap credentials to complete the process.</p>
    </div>
  </div>

  <p id="notamember">Not a member yet? <a href="@action(GingrsnapUsers.neue())">Sign up here.</a></p>
}
