@()(
  implicit
  flash: play.mvc.Scope.Flash
)

@import controllers.{Authentication, Accounts, GingrsnapUsers}

@overlay(
  title = "Sign in",
  h1Text = Some("Sign in"),
  focusElement = Some("input#username")
) {
  <div class="row">
    <form id="LoginForm" class="form-stacked action left" name="LoginForm" method="POST" action="@action(Authentication.authenticate)">
		  <label for="username">Email address</label>
		  <input type="email" name="username" id="username" value="@flash.get("username")" tabindex="1" />

		  <label for="password">Password <a href="@action(Accounts.passwordResetPrompt())">Forgot?</a></label>
		  <input type="password" name="password" id="password" value="" tabindex="2" />

		  <input type="hidden" name="remember" value="true" />
		  <button type="submit" class="btn btn-primary" tabindex="3">Sign in</button>
	  </form>

    <div class="copy right" id="external-auth">
      <a class="btn btn-large btn-twitter" href="/oauth/twitter">
        <i class="icon-twitter-large"></i>Sign in with Twitter
      </a>
      <p>Sign into Gingrsnap with one click if your account is connected to Twitter. We'll walk you through connecting it if it isn't.</p>
    </div>
  </div>

  <p id="notamember">Not a member yet? <a href="@action(GingrsnapUsers.neue())">Sign up here.</a></p>
}
