@()(
  implicit
  flash: play.mvc.Scope.Flash
)

@import controllers.{Authentication, Accounts, GingrsnapUsers}

@overlay(
  title = "Log in",
  h1Text = "Log in",
  focusElement = Some("input#username")
) {
  <form id="LoginForm" class="form-stacked" name="LoginForm" method="POST" action="@action(Authentication.authenticate)">
		<div class="clearfix">
			<label for="username">Email address</label>
      <div class="input">
			  <input type="text" name="username" id="username" value="@flash.get("username")" tabindex="1" />
      </div>
		</div>
		<div class="clearfix">
			<label for="password">Password <a href="@action(Accounts.passwordResetPrompt())">Forgot?</a></label>
      <div class="input">
			  <input type="password" name="password" id="password" value="" tabindex="2" />
      </div>
		</div>
		<input type="hidden" name="remember" value="true" />
		<input type="submit" class="btn primary" id="signin" value="Sign in" tabindex="3" />
	</form>

  <div id="external-auth">
    <a class="btn large primary" href="/oauth/twitter">Sign in with Twitter&raquo;</a>
    <p>Sign into Gingrsnap with one click if your account is connected to Twitter. We'll walk you through connecting it if it isn't.</p>
  </div>

  <p id="notamember">Not a member yet? <a href="@action(GingrsnapUsers.neue())">Sign up here.</a></p>
}
