@(
  userIsConnected: Boolean
)(
  implicit
  renderArgs: play.mvc.Scope.RenderArgs,
  flash: play.mvc.Scope.Flash,
  errors: Map[String, play.data.validation.Error]
)

@import controllers._

@heroContent = {
  <h1>Upgrade your recipe collection.</h1>
  <p><strong>Gingrsnap</strong> is a simple service that allows you to publish recipes and keep track of what you've been making.</p>
}

@main("About") {
  <div class="hero-unit">
    @if(!userIsConnected) {
      <div class="row">
        <div class="span7">
          @heroContent
        </div>

        <div class="span3 pull-right">
          <a class="btn btn-primary create-account" href="@action(GingrsnapUsers.neue())">Create an account &raquo;</a>
          <p>Signup is a snap. Try Gingrsnap for free today!</p>
        </div>
      </div>
    } else {
      @heroContent
    }
  </div>

  <div class="row">
    <div class="span4">
      <h2>Publish your recipes.</h2>
      <p>After getting creative in the kitchen, don't just write up what you made on paper or settle for a text file somewhere on your computer.</p>
      <p>Publishing on Gingrsnap allows you to easily share what you've created. The next time a friend asks you for a recipe, you can send them a link instead of transcribing a piece of paper into an email.</p>
    </div>
    <div class="span4">
      <h2>Share what you've been making.</h2>
      <p>Keep track of what you cook by recording "makes" on Gingrsnap. Recipes accumulate makes, giving an organic measurement of a dish's popularity.</p>
    </div>
    <div class="span4">
      <h2>Collaborate on recipes by leaving tips.</h2>
      <p>Find a new twist to a dish on Gingrsnap? Leave a tip on the recipe so others can try out your creation.</p>
    </div>
  </div>
}
