@()(
  implicit
  renderArgs: play.mvc.Scope.RenderArgs,
  flash: play.mvc.Scope.Flash,
  errors: Map[String, play.data.validation.Error]
)

@import controllers._

@main("About") {
  <div class="row">
    <div class="span8">
      <div class="hero-unit">
        <h1>Escape from cookbooks.</h1>
        <p>Sign up now and find out what the world tastes like.</p>
      </div>
    </div>
    <div class="span4">
      <div class="hero-unit">
        <a class="btn large btn-primary" href="@action(GingrsnapUsers.neue())">Create an account</a>
        <p>This is some copy explaining the benefit of signing up for Gingrsnap.</p>
      </div>
    </div>
  </div>
}
