@(
  mostRecentRecipes: Seq[(models.Recipe, models.GingrsnapUser)]
)(
  implicit
  renderArgs: play.mvc.Scope.RenderArgs = null, // This is a hack
  flash: play.mvc.Scope.Flash,
  errors: Map[String, play.data.validation.Error]
)

@main("") {
  <div class="row">
    <div class="span10">
      <h1>Most recent recipes</h1>
      @views.common.html.recipeFeed(mostRecentRecipes)
    </div>
    <div class="span6">
      <div class="well">
        <div class="hero-unit">
          <a class="btn large primary" href="@action(controllers.GingrsnapUsers.neue)">Create an account</a>
          <p>This is some copy explaining the benefit of signing up for Gingrsnap.</p>
        </div>
      </div>
    </div>
  </div>
}
