@(
  title: String = ""
)(
  body: => Html
)(
  implicit
  renderArgs: play.mvc.Scope.RenderArgs = null, // This is a hack
  flash: play.mvc.Scope.Flash = null,
  errors: Map[String, play.data.validation.Error] = null
)

@import controllers._

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>
      @if(title.nonEmpty) {
        @title -
      }
      Gingrsnap
    </title>
    <meta name="description" content="">
    <meta name="Evan Meagher" content="">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link href="http://fonts.googleapis.com/css?family=Lobster+Two:700" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Bitter:400,700" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet" type="text/css">
    <link rel="stylesheet" media="all" href="@asset("public/stylesheets/bootstrap.min.css")">
    <link rel="stylesheet" media="screen" href="@asset("public/stylesheets/jquery.wysiwyg.css")">
    <link rel="stylesheet" media="screen" href="@asset("public/stylesheets/main.css")">
    <link rel="shortcut icon" type="image/png" href="@asset("public/img/favicon.png")">
    <script type="text/javascript" src="@asset("public/javascripts/jquery-1.7.0.min.js")"></script>
    <script type="text/javascript" src="@asset("public/javascripts/jquery.validate.min.js")"></script>
    <script type="text/javascript" src="@asset("public/javascripts/jquery.timeago.min.js")"></script>
    <script type="text/javascript" src="@asset("public/javascripts/jquery.wysiwyg.js")"></script>
    <script type="text/javascript" src="@asset("public/javascripts/wysiwyg.link.js")"></script>
    <script type="text/javascript" src="@asset("public/javascripts/bootstrap-buttons.js")"></script>
    <script type="text/javascript" src="@asset("public/javascripts/bootstrap-modal.js")"></script>
    <script type="text/javascript" src="@asset("public/javascripts/bootstrap-tooltip.js")"></script>

    <script type="text/javascript" src="@asset("public/javascripts/app.js")"></script>
  </head>
  <body>
    <header>
      <div class="container">
        <div class="navbar">
          <a class="brand" href="@action(Application.index)">Gingrsnap</a>
          @accountLinks(user: models.GingrsnapUser) = {
            <ul class="nav pull-right">
              <li><a href="@action(GingrsnapUsers.show(user.slug))">@user.fullname</a></li>
              <li><a href="@action(Accounts.edit)">Account settings</a></li>
              <li><a data-controls-modal="contact-modal" data-backdrop="true" data-keyboard="true">Feedback</a></li>
              <li><a href="@action(Authentication.logout)">Logout</a></li>
            </ul>
          }
          @loginForm = {
            <form id="LoginForm" class="form-inline pull-right" name="LoginForm" method="POST" action="@action(Authentication.authenticate)">
              <input name="username" type="email" placeholder="Email address" tabindex="1" />
              <input name="password" type="password" placeholder="Password" tabindex="2" />
              <button type="submit" class="btn btn-primary" tabindex="3">Sign in</button>
              <a class="btn btn-twitter" href="/oauth/twitter" title="Sign in with Twitter" tabindex="4">
                <i class="icon-twitter-small"></i>
              </a>
            </form>
          }
          @if(renderArgs != null) {
            @(renderArgs.get(Constants.GingrsnapUserObjKey) match {
              case Some(user: models.GingrsnapUser) => accountLinks(user)
              case None => loginForm
            })
          } else {
            @loginForm
          }
        </div>
      </div>
    </header>

    @views.common.html.alertMessage()

    <div id="wrapper">
      <div class="container">
        @body
      </div>
    </div>

    <footer>
      <div class="container">
        <div class="navbar">
          <ul class="nav">
            <li><a href="@action(Application.about)">About</a></li>
            <li><a data-controls-modal="contact-modal" data-backdrop="true" data-keyboard="true">Contact</a></li>
            <li><a href="https://twitter.com/gingrsnap">@@gingrsnap</a></li>
          </ul>
          <span class="brand pull-right" href="@action(Application.index)">Gingrsnap</span>
        </div>
        <p>&copy; 2011-2012 <a href="http://evanmeagher.net">Evan Meagher<a/></p>
      </div>
    </footer>
    @views.common.html.gauges()
    @views.common.html.contactModal()
  </body>
</html>
