@(
  title: String = ""
)(
  body: => Html
)(
  implicit
  renderArgs: play.mvc.Scope.RenderArgs = null, // This is a hack
  flash: play.mvc.Scope.Flash = null,
  errors: Map[String, play.data.validation.Error] = null
)

@import controllers._

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>
      @if(title.nonEmpty) {
        @title -
      }
      Gingrsnap
    </title>
    <meta name="description" content="">
    <meta name="Evan Meagher" content="">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" media="all" href="@asset("public/stylesheets/bootstrap.min.css")">
    <link href="http://fonts.googleapis.com/css?family=Lobster+Two:700" rel="stylesheet" type="text/css">
    <link rel="stylesheet" media="screen" href="@asset("public/stylesheets/main.css")">
    <link rel="shortcut icon" type="image/png" href="@asset("public/images/favicon.png")">
    <script type="text/javascript" src="@asset("public/javascripts/jquery-1.7.0.min.js")"></script>
    <script type="text/javascript" src="@asset("public/javascripts/jquery.validate.min.js")"></script>
    <script type="text/javascript" src="@asset("public/javascripts/jquery.wysiwyg.js")"></script>
    <script type="text/javascript" src="@asset("public/javascripts/wysiwyg.link.js")"></script>
    <script type="text/javascript" src="@asset("public/javascripts/bootstrap-buttons.js")"></script>
    <script type="text/javascript" src="@asset("public/javascripts/bootstrap-twipsy.js")"></script>
    <script type="text/javascript" src="@asset("public/javascripts/bootstrap-modal.js")"></script>
    <link rel="stylesheet" media="screen" href="@asset("public/stylesheets/jquery.wysiwyg.css")">
    <script type="text/javascript" src="@asset("public/javascripts/app.js")"></script>
  </head>
  <body>
    <header>
      <div class="container">
        <a class="brand" href="@action(Application.index)">Gingrsnap</a>
        <ul class="nav secondary-nav">
          @accountLinks(user: models.GingrsnapUser) = {
            <li><a href="@action(GingrsnapUsers.show(user.slug))">@user.fullname</a></li>
            <li><a href="@action(Accounts.edit)">Account settings</a></li>
            <li><a href="@action(Authentication.logout)">Logout</a></li>
          }
          @loginLink = {
            <li><a class="btn" href="@action(Authentication.login)">Login</a></li>
          }
          @if(renderArgs != null) {
            @(renderArgs.get(Constants.GingrsnapUserObjKey) match {
              case Some(user: models.GingrsnapUser) => accountLinks(user)
              case None => loginLink
            })
          } else {
            @loginLink
          }
        </ul>
      </div>
    </header>

    @views.common.html.alertMessage()

    <div id="wrapper">
      <div class="container">
        @body
      </div>
    </div>

    <footer>
      <div class="container">
        <ul class="nav">
          <li><a href="@action(Application.about)">About</a></li>
          <li><a data-controls-modal="contact-modal" data-backdrop="true" data-keyboard="true">Contact</a></li>
          <li><a href="https://twitter.com/gingrsnap">@@gingrsnap</a></li>
        </ul>
        <div class="clearfix"></div>
        <ul class="nav secondary-nav">
          <span class="brand" href="@action(Application.index)">Gingrsnap</span>
        </ul>
        <p>&copy; 2011-2012 <a href="http://evanmeagher.net">Evan Meagher<a/></p>
      </div>
    </footer>
    @views.common.html.gauges()
    @views.common.html.contactModal()
  </body>
</html>
