@(
  errorPrelude: String = ""
)(
  implicit
  flash: play.mvc.Scope.Flash = null,
  errors: Map[String, play.data.validation.Error] = null
)

@if(errors.nonEmpty || (flash != null && flash.get("error"))) {
  <div class="alert-message error">
    <p><strong>@errorPrelude</strong></p>
    @for(err <- errors) {
      <p>@err._2</p>
    }

    @if(flash.get("error")) {
      <p>@flash.get("error")</p>
    }
  </div>
}

@if(flash != null && flash.get("warning")) {
  <div class="alert-message warning">
    <p>@flash.get("warning")</p>
  </div>
}

@if(flash != null && flash.get("success") != null) {
  <div class="alert-message success">@flash.get("success")</div>
}
