<div id="contact-modal" class="modal hide fade" style="display: none;">
  <form id="feedback-form" method="POST" action="@action(controllers.Feedback.send())">
    <div class="modal-header">
      <a href="#" class="close">&times;</a>
      <h3>Contact Gingrsnap</h3>
      <p>Have feedback, questions, or complaints? Send us your thoughts!</p>
    </div>
    <div class="modal-body">
      <textarea name="feedbackBody"></textarea>
    </div>
    <div class="modal-footer">
      <button class="btn btn-primary" data-loading-text="Sending..." data-complete-text="Your message has been sent" type="submit">
        <i class="icon-envelope icon-white"></i>Send
      </button>
    </div>
</form>
</div>
