@(
  prettyTime: com.ocpsoft.pretty.time.PrettyTime,
  eventFeed: Seq[(java.sql.Timestamp, models.EventSubject, models.EventType.Value, models.EventObject)]
)


@import models._

<ol class="event-feed">
  @eventFeed.map { eventTuple =>
    <li>
      @eventTuple match {
        case (createdAt, GingrsnapUserSubject(subject), EventType.RecipePublish, RecipeObject(obj)) => {
          @views.common.eventItems.html.recipePublish(prettyTime, createdAt, subject, obj)
        }
        case (createdAt, GingrsnapUserSubject(subject), EventType.RecipeFork, RecipeObject(obj)) => {
          @views.common.eventItems.html.recipeFork(prettyTime, createdAt, subject, obj)
        }
        case (createdAt, GingrsnapUserSubject(subject), EventType.RecipeUpdate, RecipeObject(obj)) => {
          @views.common.eventItems.html.recipeUpdate(prettyTime, createdAt, subject, obj)
        }
        case (createdAt, GingrsnapUserSubject(subject), EventType.RecipeMake, RecipeObject(obj)) => {
          @views.common.eventItems.html.recipeMake(prettyTime, createdAt, subject, obj)
        }
        case (createdAt, GingrsnapUserSubject(subject), EventType.TipLeave, RecipeObject(obj)) => {
          @views.common.eventItems.html.tipLeave(prettyTime, createdAt, subject, obj)
        }
      }
    </li>
  }
</ol>
