@(
  eventFeedType: Int,
  eventFeed: Seq[(java.sql.Timestamp, models.EventSubject, models.EventType.Value, models.EventObject)],
  userId: Option[Long] = None
)


@import models._

<ol class="event-feed">
  <span id="user-id" style="display: none;">@userId.getOrElse("-1")</span>
  <span id="event-feed-type" style="display: none;">@eventFeedType</span>
  <span id="page-size" style="display: none;">@eventFeed.size</span>
  @eventFeed.map { eventTuple =>
    <li>
      @eventTuple match {
        case (createdAt, GingrsnapUserEventSubject(subject), EventType.RecipePublish, RecipeEventObject(obj)) => {
          @views.common.eventItems.html.recipePublish(subject, obj)
        }
        case (createdAt, GingrsnapUserEventSubject(subject), EventType.RecipeFork, RecipeEventObject(obj)) => {
          @views.common.eventItems.html.recipeFork(subject, obj)
        }
        case (createdAt, GingrsnapUserEventSubject(subject), EventType.RecipeUpdate, RecipeEventObject(obj)) => {
          @views.common.eventItems.html.recipeUpdate(subject, obj)
        }
        case (createdAt, GingrsnapUserEventSubject(subject), EventType.RecipeMake, RecipeEventObject(obj)) => {
          @views.common.eventItems.html.recipeMake(subject, obj)
        }
        case (createdAt, GingrsnapUserEventSubject(subject), EventType.TipLeave, RecipeEventObject(obj)) => {
          @views.common.eventItems.html.tipLeave(subject, obj)
        }
        case (createdAt, GingrsnapUserEventSubject(subject), EventType.GingrsnapUserFollow, GingrsnapUserEventObject(obj)) => {
          @views.common.eventItems.html.gingrsnapUserFollow(subject, obj)
        }
      }
      <span class="timeago" title="@eventTuple._1"></span>
      <span id="event-timestamp" style="display: none;">@eventTuple._1</span>
    </li>
  }
  <li id="pagination-control">
    <button class="btn" data-loading-text="Loading..." data-complete-text="Load more events">Load more events</button>
  </li>
</ol>
