@(
  eventFeedTypeId: Int,
  eventFeed: Seq[(java.sql.Timestamp, models.EventSubject, Option[String], models.EventType.Value, models.EventObject)],
  userId: Option[Long] = None
)

@import models._

<ol class="feed feed-event">
  <span id="user-id" style="display: none;">@userId.getOrElse("-1")</span>
  <span id="feed-type" style="display: none;">@eventFeedTypeId</span>
  <span id="page-size" style="display: none;">@eventFeed.size</span>
  @eventFeed.map { eventTuple =>
    <li>
      @eventTuple match {
        case (createdAt, GingrsnapUserEventSubject(subject), imgUrl, EventType.RecipePublish, RecipeEventObject(obj)) => {
          @views.common.eventItems.html.recipePublish(subject, obj, imgUrl)
        }
        case (createdAt, GingrsnapUserEventSubject(subject), imgUrl, EventType.RecipeFork, RecipeEventObject(obj)) => {
          @views.common.eventItems.html.recipeFork(subject, obj)
        }
        case (createdAt, GingrsnapUserEventSubject(subject), imgUrl, EventType.RecipeUpdate, RecipeEventObject(obj)) => {
          @views.common.eventItems.html.recipeUpdate(subject, obj, imgUrl)
        }
        case (createdAt, GingrsnapUserEventSubject(subject), imgUrl, EventType.RecipeMake, RecipeEventObject(obj)) => {
          @views.common.eventItems.html.recipeMake(subject, obj, imgUrl)
        }
        case (createdAt, GingrsnapUserEventSubject(subject), imgUrl, EventType.TipLeave, RecipeEventObject(obj)) => {
          @views.common.eventItems.html.tipLeave(subject, obj, imgUrl)
        }
        case (createdAt, GingrsnapUserEventSubject(subject), imgUrl, EventType.GingrsnapUserFollow, GingrsnapUserEventObject(obj)) => {
          @views.common.eventItems.html.gingrsnapUserFollow(subject, obj, imgUrl)
        }
      }
      <span class="timeago" title="@eventTuple._1"></span>
      <span id="event-timestamp" style="display: none;">@eventTuple._1</span>
      </div>
    </li>
  }
  <li id="pagination-control">
    <button class="btn" data-loading-text="Loading..." data-complete-text="Load more events">Load more events</button>
  </li>
</ol>
