@(
  recipeFeedTypeId: Int,
  recipeFeed: Seq[(models.Recipe, models.GingrsnapUser, Option[(String, String)])],
  userId: Option[Long] = None
)

@import controllers.{GingrsnapUsers, Recipes}

<ol class="feed feed-recipe">
  <span id="user-id" style="display: none;">@userId.getOrElse("-1")</span>
  <span id="feed-type" style="display: none;">@recipeFeedTypeId</span>
  <span id="page-size" style="display: none;">@recipeFeed.size</span>
  @recipeFeed.map { case (recipe, author, imageUrlOpt) =>
    <li class="recipe-card">
      <span id="recipe-timestamp" style="display: none;">@recipe.modifiedAt</span>

      @if(imageUrlOpt.nonEmpty) {
        <div class="text">
          <h3>
            <a href="@action(Recipes.show(author.slug, recipe.slug))">@recipe.title</a>
          </h3>
          <cite>
            By <a href="@action(GingrsnapUsers.show(author.slug))">@author.fullname</a>
          </cite>
          <p class="recipe-timestamp">Last updated <span class="timeago" title="@recipe.modifiedAt"></span></p>
        </div>

        @imageUrlOpt.map { case (baseUrl, extension) =>
          <a class="recipe-card-image" href="@action(Recipes.show(author.slug, recipe.slug))">
            <img src="@(baseUrl + "_portrait." + extension)" />
          </a>
        }
        <div style="clear: both;"></div>
      } else {
        <h3>
          <a href="@action(Recipes.show(author.slug, recipe.slug))">@recipe.title</a>
        </h3>
        <cite>
          By <a href="@action(GingrsnapUsers.show(author.slug))">@author.fullname</a>
        </cite>
        <p class="recipe-timestamp">Last updated <span class="timeago" title="@recipe.modifiedAt"></span></p>
      }
    </li>
  }
  <li id="pagination-control">
    <button class="btn" data-loading-text="Loading..." data-complete-text="Load more recipes">Load more recipes</button>
  </li>
</ol>
