@(
  recipeFeed: Seq[(models.Recipe, models.GingrsnapUser)]
)

@import controllers.{GingrsnapUsers, Recipes}
@import java.text.DateFormat

<ol class="recipe-feed">
  @recipeFeed.map { case (recipe, author) =>
    <li>
      <a href="@action(GingrsnapUsers.show(author.id()))">@author.fullname</a>
      @if(recipe.parentRecipe.isDefined) {
        forked
      } else {
        created
      }
      <a href="@action(Recipes.show(recipe.authorId, recipe.slug))">@recipe.title</a>
      on
      @DateFormat.getDateInstance.format(recipe.createdAt)
    </li>
  }
</ol>
