@(
  connectedUserId: Long,
  usersWithImages: Seq[(models.GingrsnapUser, Option[Boolean], Option[(String, String)])]
)

@import controllers.GingrsnapUsers

<ol class="feed feed-user">
  @usersWithImages.map { case (user, isFollowedByConnectedUserOpt, imageUrlOpt) =>
    <li>
      <div class="user-card-image">
        @imageUrlOpt.map { case (baseUrl, extension) =>
          <a href="@action(GingrsnapUsers.show(user.slug))">
            <img src="@(baseUrl + "_thumbnail." + extension)" />
          </a>
        }
      </div>
      <h3>
        <a href="@action(GingrsnapUsers.show(user.slug))">@user.fullname</a>
      </h3>

      <div class="pull-right">
        @if(connectedUserId != user.id()) {
          @isFollowedByConnectedUserOpt.map { isFollowedByConnectedUser =>
            <span id="user-id" style="display: none;">@user.id()</span>
            @if(isFollowedByConnectedUser) {
              <button class="btn unfollow-user btn-danger" href="#">Unfollow</button>
            } else {
              <button class="btn follow-user" href="#">Follow</button>
            }
          }
        } else {
          <span class="help-block">This is you!</span>
        }
      </div>

      <div style="clear:left;"></div>
    </li>
  }
</ol>
