@(
  viewerOpt: Option[models.GingrsnapUser],
  user: models.GingrsnapUser,
  recipes: Seq[models.Recipe],
  isDraftList: Boolean
)

@import controllers.Recipes

<div class="recipe-list">
  @viewerOpt match {
    case Some(viewer) if user.id() == viewer.id() => {
      @if(isDraftList) {
        <h2>Your drafts</h2>
      } else {
        <h2>Your recipes</h2>
      }
      <a class="btn btn-primary new-item" href="@action(Recipes.neue())">
        <i class="icon-plus icon-white"></i>New recipe
      </a>
    }
    case _ => {
      @if(!isDraftList) {
        <h2>@user.fullname's recipes</h2>
      }
    }
  }
  @if(recipes.nonEmpty) {
    <ul>
      @recipes.map { recipe =>
        <li>
          <div class="recipe-card">
            @if(recipe.publishedAt.isEmpty) {
              <label>
                <a href="@action(Recipes.edit(recipe.id()))">@recipe.title</a>
              </label>
              <span class="label">Draft</span>
            } else {
              <label>
                <a href="@action(Recipes.show(user.slug, recipe.slug))">@recipe.title</a>
              </label>
            }
          </div>
        </li>
      }
    </ul>
  } else {
    @viewerOpt match {
      case Some(viewer) if user.id() == viewer.id() => {
        @if(isDraftList) {
          <span class="help-block">You don't have any drafts at the moment.</span>
        } else {
          <span class="help-block">You haven't published any recipes yet.</span>
        }
      }
      case _ => {
        @if(!isDraftList) {
          <span class="help-block">@user.fullname hasn't published any recipes yet.</span>
        }
      }
    }
  }
</div>
