@(
  viewerOpt: Option[models.GingrsnapUser],
  user: models.GingrsnapUser,
  recipes: Seq[(models.Recipe, Option[(String, String)])],
  isDraftList: Boolean
)

@import controllers.Recipes

<div class="recipe-list">
  @viewerOpt match {
    case Some(viewer) if user.id() == viewer.id() => {
      @if(isDraftList) {
        <h2>Your drafts</h2>
      } else {
        <h2>Your recipes</h2>
      }
      <a class="btn btn-primary new-recipe" href="@action(Recipes.neue())">
        <i class="icon-plus icon-white"></i>New recipe
      </a>
    }
    case _ => {
      @if(!isDraftList) {
        <h2>@user.fullname's recipes</h2>
      }
    }
  }
  @if(recipes.nonEmpty) {
    <ul>
      @recipes.map { case (recipe, imageUrlOpt) =>
        <li>
          <div class="recipe-card">
            @imageUrlOpt.map { case (baseUrl, extension) =>
              <a href="@action(Recipes.show(user.slug, recipe.slug))">
                <img src="@(baseUrl + "_portrait." + extension)" />
              </a>
            }
            <div>
              @if(recipe.publishedAt.isEmpty) {
                <label>
                  <a href="@action(Recipes.edit(recipe.id()))">@recipe.title</a>
                </label>
                <span class="label">Draft</span>
              } else {
                <label>
                  <a href="@action(Recipes.show(user.slug, recipe.slug))">@recipe.title</a>
                </label>
              }
            </div>
          </div>
        </li>
      }
    </ul>
  } else {
    @viewerOpt match {
      case Some(viewer) if user.id() == viewer.id() => {
        @if(isDraftList) {
          <p>You don't have any drafts at the moment.</p>
        } else {
          <p>You haven't published any recipes yet.</p>
        }
      }
      case _ => {
        @if(!isDraftList) {
          <p>@user.fullname hasn't published any recipes yet.</p>
        }
      }
    }
  }
</div>
