@(
  fullname: String,
  emailAddr: String,
  appBaseUrl: String,
  slug: String,
  hasTwitterConnection: Boolean,
  location: String = "",
  url: String = "",
  profileImageUrlOpt: Option[(String, String)]
)(
  implicit
  params: play.mvc.Scope.Params,
  flash: play.mvc.Scope.Flash,
  errors: Map[String, play.data.validation.Error],
  renderArgs: play.mvc.Scope.RenderArgs
)

@import controllers._
@import controllers.Constants.GingrsnapUserObjKey

@main(title = "Your account") {
  <form id="edit-account" class="form-stacked" method="POST" enctype="multipart/form-data">
    <div class="row">
      <div class="span8">
        <div class="well">
          <h1>Edit your account</h1>
          <fieldset>
            <legend>Profile Info</legend>
            <label for="fullname">Name</label>
            <input id="fullname" name="fullname" type="text" value="@fullname" />

            <label for="emailAddr">Email Address</label>
            <input id="emailAddr" name="emailAddr" type="text" value="@emailAddr"/>

            <label for="slug">Gingrsnap URL</label>
            <p>This is the URL of your Gingrsnap profile. Your recipes will be end up at <code>@(appBaseUrl)@slug/title+of+your+recipe</code>.</p>
            <div class="input-prepend">
              <span class="add-on">@appBaseUrl</span>
              <input id="slug" name="slug" type="text" value="@slug" />
            </div>

            <label for="location">Location</label>
            <input id="location" name="location" type="text" value="@location" />

            <label for="url">Website</label>
            <input id="url" name="url" type="url" value="@url" />
          </fieldset>

          <fieldset>
            <legend>Password</legend>
            <label for="oldPassword">Old Password</label>
            <input id="oldPassword" name="oldPassword" type="password" />

            <label for="newPassword">New Password</label>
            <input id="newPassword" name="newPassword" type="password" />

            <label for="confirmnewpassword">Confirm New Password</label>
            <input id="confirmnewpassword" name="confirmnewpassword" type="password" />
          </fieldset>

          <div class="form-actions">
            <input class="btn btn-primary" type="submit" value="Save information"/>
          </div>
        </div>
	    </div>

      <div class="span4">
        <div class="well">
          <fieldset>
            <legend>Picture</legend>
            <p>Represent yourself to other Gingrsnap users. Your image will appear publicly on your profile page.</p>
            @views.common.html.imageUpload(profileImageUrlOpt)
          </fieldset>
          <fieldset>
            <legend>Connections</legend>
            <p>Connect to sign into Gingrsnap with your Twitter account and easily share recipes with your followers.</p>
            @if(hasTwitterConnection) {
              <div class="oauth-connection-badge">
                <span class="twitter-icon">Twitter</span>
                <a class="close">&times;</a>
              </div>
            } else {
              <a class="btn btn-twitter" href="@action(OAuth.connect("twitter"))">
                <i class="icon-twitter-small"></i>Connect with Twitter &raquo;
              </a>
            }
          </fieldset>
        </div>
      </div>
    </div>
  </form>
}
