@()(
  implicit
  flash: play.mvc.Scope.Flash
)

@import controllers.{Application, GingrsnapUsers}

@overlay(
  title = "Password reset",
  h1Text = "Reset your password",
  focusElement = Some("input#emailAddr")
) {
  <p>This is some text explaining the process of resetting your password.</p>
  <form id="password-reset-request-form" class="form-stacked" method="POST">
		<div class="clearfix">
			<label for="username">Email address</label>
      <div class="input">
			  <input type="text" name="emailAddr" id="emailAddr" tabindex="1" />
      </div>
		</div>
		<input type="submit" class="btn primary" id="signin" value="Connect" tabindex="3" />
	</form>

  <p id="notamember">Not a member yet? <a href="@action(GingrsnapUsers.neue())">Sign up here.</a></p>
}
