@()(
  implicit
  flash: play.mvc.Scope.Flash
)

@import controllers.{Application, GingrsnapUsers}

@overlay(
  title = "Password reset",
  focusElement = Some("input#emailAddr")
) {
  <div class="row">
    <div class="copy left">
      <h2>Don't worry. Everyone forgets their password sometimes.</h2>
      <p>Enter your email address and we'll email you instructions on how to reset your password.</p>
    </div>
    <div class="action right">
      <form id="password-reset-request-form" method="POST">
        <label for="emailAddr">Email address</label>
		    <input type="text" name="emailAddr" id="emailAddr" tabindex="1" />
		    <button type="submit" class="btn btn-primary" tabindex="2">Send instructions</button>
	    </form>
    </div>
  </div>

  <p id="notamember">Not a member yet? <a href="@action(GingrsnapUsers.neue())">Sign up here.</a></p>
}
