@(
  userId: Long,
  fullname: String,
  pwdResetRequestId: String
)(
  implicit
  flash: play.mvc.Scope.Flash,
  errors: Map[String, play.data.validation.Error] = null
)

@import controllers.GingrsnapUsers

@overlay(
  title = "Password reset",
  h1Text = Some("Reset your password"),
  focusElement = Some("input#newPassword")
) {
  <p>This is some text explaining the process of resetting your password.</p>
  <form id="password-reset-form" class="form-stacked" method="POST">
    <input type="hidden" name="userId" value="@userId" />
    <input type="hidden" name="pwdResetRequestId" value="@pwdResetRequestId" />

		<label for="newPassword">New password for @fullname</label>
		<input type="password" id="newPassword" name="newPassword" tabindex="1" />

		<label for="newPasswordConfirm">Confirm new password</label>
		<input type="password" name="newPasswordConfirm" tabindex="2" />

		<input type="submit" class="btn btn-primary" value="Reset password" tabindex="3" />
	</form>
  <p id="notamember">Not a member yet? <a href="@action(GingrsnapUsers.neue())">Sign up here.</a></p>
}
